h1,
h2 {
  font-family: Lato;
}
div {
  margin-bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  margin-bottom: 1%;
  font-size: 60%;
}
#setGet {
  margin-bottom: 10%;
  margin-top: 5%;
}
#inputKey {
  width: 30%;
  background-color: rgb(253, 253, 227);
}
#insertValue {
  border: 1px solid;
  width: 30%;
}
#showValue {
  border: 1px solid;
  padding: 2%;
  width: 40%;
  margin: 0;
}
